<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>IonicMaps</title>
        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
            <link href="css/ionic.app.css" rel="stylesheet">
            -->
        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <!-- cordova script (this will be a 404 during development) -->
        <!-- google maps -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7i2QxsyPHwAVN9tyDUtQLLKYNamRm1eE&signed_in=true&libraries=places"></script>
        <script src="cordova.js"></script>
        <!-- your app's js -->
        <script src="js/controllers.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-app="starter" ng-controller="MapCtrl">
        <ion-pane>
            <ion-header-bar class="bar-stable">
                <h1 class="title">Ionic Google Maps</h1>
            </ion-header-bar>
            <ion-content data-tap-disabled="true">
                <div id="map"></div>
            </ion-content>
            <ion-footer-bar class="bar-stable">
                <input type="text" id="searchInput" class="controls" placeholder="Buscar...">
                <a href="#" ng-click="locateMe()" class="button button-icon icon ion-ios-navigate-outline"></a>
                <a href="#" ng-click="paintRoute()" class="button button-icon icon ion-compose"></a>
                <a href="#" ng-click="showTraffic()" class="button button-icon icon ion-android-car"></a>
                <a href="#" ng-click="showTransit()" class="button button-icon icon ion-android-bus"></a>
                <a href="#" ng-click="clearLayer()" class="button button-icon icon ion-android-refresh"></a>
                <label for="" class="toggle" ng-click="toggleAddMarker()">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </ion-footer-bar>
        </ion-pane>
    </body>
</html>
